body {
	background-color: #C4C4C4;
	font-family: "Josefin Sans", sans-serif;
}

.wrapper {
	width: 1120px;
	margin: 0 auto;
}

.wrapper>div,
.wrapper>header {
	margin-bottom: 70px;
}

.header {
	background-color: #F8F8F8;
	box-shadow: 0 4px 4px rgba (0, 0, 0, 0.25);
	padding: 42px 100px;
}